@page "/ProductsEdit/{ProductID}"
@inject NavigationManager navigate
@inject Database.dataBase db
@using Database;

    <head>
        <style>
            body {
                background-color: #296648;
            }

            .Productdetails {
                color: #EBFFF4;
            }
            .Button1{
            height: 36px;
            width: 120px;
            bottom: 1%;
            right: 1%;
            position: absolute;
            font-size: 15px;
            color: #9F5600;
            background-color: #EBFFF4;
            outline: none;
            border: none; 
            }
            .Button2{
            height: 22px;
            width: 120px;
            bottom: 1%;
            right: 10%;
            position: absolute;
            font-size: 15px;
            color: #9F5600;
            background-color: #EBFFF4;
            outline: none;
            border: none; 
            }
            .Button3{
            height: 22px;
            width: 120px;
            bottom: 1%;
            right: 19%;
            position: absolute;
            font-size: 15px;
            color: #9F5600;
            background-color: #EBFFF4;
            outline: none;
            border: none; 
            }
        </style>
    </head>
    <div class="Productdetails">

        <h1>@value.Name</h1>
        <h1>Stock: @value.Stock</h1>
        <input type="number" @bind="@stock" />
        <h1>Room on shelf:@value.Shelf</h1>
        <input type="number" @bind="@shelf" />
        <h1>Product recieved each delivery: @value.Delivery</h1>
        <input type="number" @bind="@delivery" />
        <h1>Price: @value.Price</h1>
        <input type="number" @bind="@price"/>
        <h1>Cost per unit: @value.Cost</h1>
        <input type="number" @bind="@buy"/>
    </div>
    <div class="buttons">
        <button class="Button1" @onclick="@Changes">Complete changes</button>
        <button class="Button2" @onclick="() => {CancelNavigate(value);}">Cancel</button>
        <button class="Button3" @onclick="@Delete">Delete Item</button>
    </div>

    @code{
        [Parameter]
        public string ProductID {get; set;}
        Product value = null;
        public int stock = 0;
        public int shelf = 0;
        public int delivery = 0;
        public int price = 0;
        public int buy = 0;
        
        public void Changes()
        {
            Product P1 = value;
            P1.Stock = stock;
            P1.Shelf = shelf;
            P1.Delivery = delivery;
            P1.Cost = buy;
            P1.Price =price;
            db.SaveItem(P1);
            navigate.NavigateTo("/");
        }
    protected override async Task OnInitializedAsync()
    {
         db.GetItem();
         DefineAttributes();
    }
    public void DefineAttributes()
    {
        string val = ProductID;
        int prodId = Convert.ToInt32(val);
        value = db.store.Find(x => x.ProductID == prodId);
    }   
    public void CancelNavigate(Product product)
    {
      navigate.NavigateTo($"/View/{product.ProductID}");
    }
    public void Delete()
    {
        Product P1 = value;
        db.DeleteItem(P1);
        navigate.NavigateTo("/");
    }
}
  
